.homeWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #A3C6C4;
  gap: 75px;
  color:#E0E7E9;
  height: 50px;
  font-size: large;
}

body {
  background-color: #354649;
  color: #E0E7E9;
}


